<% @journals = Journal.all %>


<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Updated at</th>
            <th scope="col">ID</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @journals.each do |journal| %>
          <tr>
            <td><%= journal.title %></td>
            <td><%= journal.description %></td>
            <td><%= journal.created_at %></td>
            <td><%= journal.id %></td>
            <td>
              <%= link_to "D",journals_path(journal), method: :delete %>

            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div>
  <div>
    <% if @journals.empty? %>
      <%= "You still dont have any Journals" %>
    <% end %>
  </div>
  <a>
    <%= link_to('Add Journal', new_journal_path,
            {class:"btn btn-primary"})%> 
  </a>
</div>



